*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'Rubik Doodle Shadow', system-ui;
    background-color: rgb(66, 66, 66);
}

.snake{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'Rubik Doodle Shadow', system-ui;
    background-color: rgb(255, 19, 19);
}
#game-board{
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;
}

.game-border-1{
    border: #000000 solid 10px;
    border-radius: 30px;
    border-color: rgb(0, 0, 0);
    box-shadow: inset 0 0 0 10px rgb(0, 0, 0);
}

.game-border-2{
    border: #f5f5f5 solid 8px;
    border-radius: 26px;
    border-color: rgb(0, 0, 0);
    box-shadow: inset 0 0 0 10px rgb(5, 5, 5);
}

.game-border-3{
    border: #d9dbd5 solid 30px;
    border-radius: 20px;
    border-color: rgb(191, 191, 191);
    box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.instruction-text{
    position: absolute;
    top: 60%;
    color: black;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
}

.scores{
    display: flex;
    justify-content: space-between;
}

#score{
    color: yellow;
}

#highScore,
#scores{
    font-size: 30px;
    font-weight: bolder;
    margin: 10px 0;
}

#highScore{
    color: white;
    display: none;
}

.game-border-3,
#logo {
    background-color: rgb(255, 255, 255);
}

.snake{
    border: #d9dbd5 1p dotted;
}

.food{
    background-color: black;
    border: #757673 5px solid;
}

#logo{
    position: absolute;
    height: 200px;
}